<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/codemirror.min.css" />
    <link rel="stylesheet" href="/css/pensum.css">
    <title>Tu pensum we</title>
</head>
<body>
    <h1>Este es tu pensum</h1>
    <div class="container_user">
        <%- include('../partials/pensum', {id}) %>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/codemirror.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/mode/clike/clike.min.js"></script>
    <script src="/js/pensum.js"></script>
</body>
</html>