<!DOCTYPE html>
<html lang="en">
<head>
   <title>hola</title>
</head>
<body>
   <table>
    <thead>
       <tr>
        <th>Semestre 1</th>
        <th>Semestre 2</th>
        <th>Semestre 3</th>
        <th>Semestre 4</th>
       </tr> 

    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

    </tbody>
   </table> 
</body>
</html>